<html>
<head>
<title>404</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/Webserver/public/css/style.css">
</head>
<body>
<div class="main-content">
<p>{{errorMessage}}</p>
{{>header}}
</div>
{{>footer}}
</body>
</html>