<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="#">
      <link rel="stylesheet" href="/Webserver/public/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
</html>